# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS
.DS_Store

# Build output
target/
!target/allure-results/

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Eclipse
.classpath
.project
.settings/