# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# OS
.DS_Store

# Build output and Maven target folder
target/
!target/allure-results/

# Exclude Allure CLI (should NOT be committed)
.allure/

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/
nbbuild/
dist/
.nb-gradle/